@import url('/home/nightmare/.cache/wal/colors-waybar.css');
* {
    font-weight: bold;
    font-family: JetBrainsMono Nerd Font Propo;
    min-height: 0;
    color: @color1;
}

.modules-left,
.modules-center,
.modules-right {
/*    margin-top: -15px;
    margin-bottom: -15px;*/
    margin-left: 2px;
    margin-right: 2px;
/*    padding: 15px;*/
}
/* Timer Blinking */
#custom-timer.alarm {
    color: #f38ba8;
    animation: blink 1s linear infinite;
}
@keyframes blink {
    50% { opacity: 0.3; }
}

window#waybar {
    all: unset;
    color: @color1;
    font-size: 13px;
/*    border-radius: 10px;*/
/*    background: alpha(@background, 0.4);*/
    background: @background;
/*    border: 1px solid @cursor;*/
}

#workspaces,
#clock, 
#gleft2,
#custom-timer {
    color: @color7;
    transition: all 0.3s ease;
/*    background-color: @background;*/ 
    border-radius: 10px;       
    padding: 4px 10px;         
    margin: 0px 3px;
}
/* gleft2 */
#bluetooth,
#wireplumber,
#custom-power {
    color: @color7;
    transition: all 0.3s ease;
    border-radius: 15px;       
    padding: 0px 10px;                  
}
#workspaces button {
    all: unset;
    margin: 0px 4px;
    padding: 0px;
/*    background: @color7;*/
/*    border-radius: 50%;*/
    transition: all 0.3s;
    min-width: 20px;
}
#workspaces button:hover {
    background: @color2;
}
#workspaces button.active {
    border: none;
/*    border-radius: 10px;*/
    background: @color1;
/*    min-width: 40px;*/
}
#workspaces button.active label {
    color: @color7;
}

tooltip {
    color: @color7;
    background-color: @background;
}
